@font-face {
  font-family: 'Heavitas'; /* Choose a name for your font */
  src: url('./fonts/Heavitas.ttf') format('truetype'); /* Path to your font file */
  font-weight: normal;
  font-style: normal;
}

.hero-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #09090B; /* Dark background color */
  color: white;
}

.hero-section h1 {
  font-family: 'Heavitas', sans-serif; /* Apply the custom font */
  font-size: 5rem;
  margin-bottom: 0.8rem;
  background: linear-gradient(45deg, #F3F4F6, #FDE35E); /* Lemonade to white gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Ensure text color is visible only through gradient */
}

.hero-section p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.7rem; /* Margin to separate from the button */
  max-width: 850px;
  color: #A8A29E;
}

.hero-section .hero-chip {
  margin-bottom: 1.5rem; /* Space between chip and text */
  background-color: #1c1c1c; /* Dark background for chip */
  color: #FFA500; /* Orange text color */
  border: 2px solid #FFA500; /* Orange border */
  padding: 0.25rem 0.5rem; /* Smaller padding for a more compact chip */
  border-radius: 16px; /* Rounded corners */
  font-size: 0.75rem; /* Smaller font size */
  position: relative; /* Needed for animation */
  overflow: hidden; /* Ensure the animation stays within bounds */
}

/* Animation for the chip outline */
@keyframes pulse {
  0% {
    border-color: #FFA500;
  }
  50% {
    border-color: #ff8c00; /* Slightly darker orange */
  }
  100% {
    border-color: #FFA500;
  }
}

.hero-section .hero-chip::before {
  content: "";
  position: absolute;
  top: -4px; /* Positioning the outline effect */
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 16px; /* Match chip border radius */
  border: 2px solid transparent; /* Invisible border initially */
  border-color: #FFA500; /* Orange border color */
  z-index: -1; /* Place behind the chip */
  animation: pulse 2s infinite; /* Animation applied */
}

.hero-section .hero-chip .MuiChip-label {
  color: #FFA500; /* Orange text color inside the chip */
}

.hero-section .neon-button {
  margin-top: 1rem;
  background-color: #FFA500; /* Orange button background */
  color: white; /* Button text color */
  /* Subtle orange downward neon glow */
  box-shadow: 0 4px 8px rgba(255, 165, 0, 0.3), /* Subtle shadow */
              0 8px 16px rgba(255, 165, 0, 0.2);
  border-radius: 5px; /* Optional: Rounded corners for the button */
  transition: background-color 0.4s ease, box-shadow 0.4s ease; /* Smooth transition */
}

.hero-section .neon-button:hover {
  background-color: #FF8C00; /* Darker orange on hover */
  box-shadow: 0 6px 12px rgba(255, 165, 0, 0.4), /* Slightly more intense shadow on hover */
              0 12px 24px rgba(255, 165, 0, 0.25);
}
